.events {
}

.events__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-base);
}

.events__left {
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}

.events__images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-xs);
}

.events__image {
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
}

.events__image img {
  height: 100%;
}

.events__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: var(--gap-base);
}

.events__text {
  font-size: clamp(0.75rem, 0.75rem + 1vw, 2.5rem);
  line-height: 109%;
  letter-spacing: -0.03em;
  color: var(--bg-clr);
}
.events__text-xs {
  font-size: var(--text-base);
  line-height: 109%;
  letter-spacing: -0.03em;
  color: var(--bg-clr);
}

@media screen and (max-width: 764px) {
  .events__container {
    grid-template-columns: 1fr;
  }
  .events__image {
    height: 250px;
  }
}
