.shop {
  position: relative;
  overflow: hidden;
}
.shop__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xs);
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.shop-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-xs);
}

.shop-item {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
  background-color: var(--milk);
  border-radius: 10px;
  overflow: hidden;
  color: var(--bg-clr);
  padding: 10px;
}

.shop-item__image {
  width: 100%;
  height: 250px;
}

.shop-item__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.shop-item__options {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: var(--cream);
  border: 2px solid var(--border-clr);
  border-radius: 6px;
  padding: 10px;
  color: var(--bg-clr);
}

.shop-item__price {
  font-weight: 400;
  font-size: var(--text-lg);
  line-height: 163%;
  letter-spacing: -0.02em;
  white-space: nowrap;
}

@media (max-width: 992px) {
  .shop-item__price {
    font-size: 22px;
  }
}

@media (max-width: 764px) {
  .shop-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .shop-item__image {
    height: 200px;
  }
}
