.cards {
  display: flex;
  align-items: flex-end;
  gap: var(--gap-base);
}

.card {
  flex: 0 0 calc((100% - 60px) / 3);
}

.card__image {
  width: 60px;
  height: 60px;
  border-radius: var(--radius-btn);
  overflow: hidden;
}

.card__image > img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__author {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
}

.card__title {
  font-weight: 400;
  font-size: var(--text-base);
  line-height: 163%;
  letter-spacing: -0.02em;
  color: var(--bg-clr);
}

.card__subtitle {
  font-weight: 600;
  font-size: var(--text-xs);
  margin: 20px 0;

  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 5.9em;
  position: relative;
}

.card__options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: var(--gap-xs);
}

.card__price {
  font-weight: 500;
  font-size: var(--text-lg);
  line-height: 163%;
  letter-spacing: -0.02em;
  color: #fff;
  text-align: right;
  white-space: nowrap;
}

.card__size {
  font-size: var(--text-xs);
  line-height: 163%;
  letter-spacing: -0.02em;
}

.card__button {
  font-size: var(--text-base);
  line-height: 146%;
  letter-spacing: -0.02em;
  padding: 10px 30px;
  white-space: nowrap;
}

@media (max-width: var(--breakpoint-lg)) {
  .cards__image {
    width: 122px;
    height: 122px;
    margin: 0 auto;
  }

  .cards__image > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .events__item {
    padding: 25px 15px 20px;
  }
}
