.footer {
  margin: 0 10px 10px;
  color: var(--bg-clr);
}
.footer-flex {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
}
.footer-top {
  padding-bottom: 30px;
}
.footer__socials {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
  margin-left: auto;
}

.footer__text {
  max-width: 300px;
}

.footer__logo {
  font-weight: 500;
  font-size: 22px;
  line-height: 109%;
  letter-spacing: -0.03em;
  color: var(--bg-clr);
  text-transform: uppercase;
}

.footer-menu {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition:
    max-height 0.4s ease,
    opacity 0.3s ease;
}

/* Открытое состояние */
.footer-menu.active {
  max-height: 500px;
  opacity: 1;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-lg);
  padding: 30px 0;
}

.footer-content {
  border-bottom: 1px solid var(--border-clr);
  border-top: 1px solid var(--border-clr);
}

.footer__menu-overlay {
  position: relative;
}
.footer__menu-btn {
  position: absolute;
  top: -20px;
  left: 10px;
}

.footer-nav {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
}

.footer-menu__list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}
.footer-menu__title {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -0.01em;
}

.footer-menu__item {
  font-weight: 400;
  font-size: var(--text-base);
  letter-spacing: -0.01em;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xs);
  padding-top: 30px;
}

.footer__copy {
  font-weight: 500;
  font-size: var(--text-xs);
}

@media screen and (max-width: 992px) {
  .footer-flex,
  .footer-bottom,
  .footer-nav,
  .footer-menu.active {
    flex-wrap: wrap;
    gap: var(--gap-xs);
  }
}
