.header {
  margin: 10px 10px -10px 10px;

  transition: all 0.3s ease;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1010;

  background: var(--milk);
  color: var(--bg-clr);
  border-bottom: 2px solid var(--border-clr);
  border-radius: 10px 10px 0 0;
}

.header.fixed {
  position: fixed;
  margin: 0;
  border-radius: 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-base);

  position: relative;
}

.header__logo {
  font-weight: 500;
  font-size: 22px;
  line-height: 109%;
  letter-spacing: -0.03em;
  color: var(--bg-clr);
  text-transform: uppercase;
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: var(--gap-base);
}

.header__button {
  width: 40px;
  height: 40px;
}

.header__button > svg {
  width: 24px;
  height: 24px;
}

.header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xs);
}

.header__content {
  display: flex;
  flex-direction: column;
  gap: 54px;
  align-items: start;

  padding-top: 80px;
  max-width: 570px;
}

.header__bg {
  width: 472px;
  height: 680px;
}

.header__bg-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 992px) {
  .header {
    padding: 9px 0;
  }
  .header__content {
    padding-top: 40px;
    gap: var(--gap-base);
  }
  .header__buttons {
    position: relative;
    z-index: 1001;
  }
  .header.open .header__buttons {
    color: var(--caramel);
  }
}

@media (max-width: 764px) {
  .header::after {
    width: 100%;
    top: -15%;
    bottom: 0;
  }

  .header__logo {
    font-size: var(--text-base);
  }

  .header__box {
    flex-direction: column-reverse;
    gap: var(--gap-base);
  }

  .header__content {
    padding-top: 0;
    max-width: 100%;
  }

  .header__bg {
    width: 100%;
    height: 280px;
  }
}
