*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--ff-base);
  font-weight: 400;
  background-color: var(--coffee);
  color: var(--text-clr);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  color: inherit;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

img {
  width: 100%;
  object-fit: cover;
}
