/* База и сброс  */
@import url("./base/_variables.css");
@import url("./base/_reset.css");
@import url("./base/_global.css");

/* Компоненты  */
@import url("./components/_header.css");
@import url("./components/_menu.css");
@import url("./components/_heading.css");
@import url("./components/_buttons.css");
@import url("./components/_card.css");
@import url("./components/_forms.css");
@import url("./components/_modal.css");
@import url("./components/_footer.css");

/* Секции страницы  */
@import url("./sections/_hero.css");
@import url("./sections/_about.css");
@import url("./sections/_events.css");
@import url("./sections/_shop.css");
@import url("./sections/_testimonials.css");
@import url("./sections/_contacts.css");