:root {
  /* COLORS  */
  --bg-clr: #121517;
  --bg-clr-dark: #0b0c0d;
  --text-clr: #d9d9d9;

  --accent-light: #a2663c;
  --accent: #3f1d0e;

  /* FONTS  */
  --ff-base: "Montserrat", sans-serif;

  /* GRADIENTS  */
  --base-grad: linear-gradient(
    223deg,
    var(--accent) 0%,
    var(--accent-light) 100%
  );
  --glow-grad: linear-gradient(
    245deg,
    rgba(35, 114, 73, 0.55) 0%,
    rgba(53, 198, 107, 0.73) 51.85%
  );
  --outline-grad: linear-gradient(145deg, #d9d9d9, #121517);

  --gap-lg: 60px;
  --gap-base: 30px;
  --gap-xs: 20px;

  --text-2xl: 80px;
  --text-xl: 60px;
  --text-lg: 30px;
  --text-base: 20px;
  --text-xs: 16px;

  --radius-box: 30px;
  --radius-btn: 85px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--ff-base);
  font-weight: 400;
  background-color: var(--bg-clr);
  color: var(--text-clr);
}

/* RESET STYLES  */
a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  color: inherit;
}

section {
  padding: 50px 0;
}

.container {
  max-width: 1243px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

.header {
  padding-top: 48px;
  padding-bottom: 113px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 94px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px;
  background: var(--bg-clr);
  z-index: 999;
}

.header__logo {
  font-weight: 800;
  font-size: 35px;
  line-height: 109%;
  letter-spacing: -0.03em;
  background: var(--base-grad);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-button {
  width: 42px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.menu-button__line {
  display: block;
  width: 100%;
  height: 2px;
  background: var(--base-grad);
}

.menu {
}

.menu__list {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
}

.menu__item {
  padding: 5px 10px;
}
.menu__link {
  font-size: var(--text-base);
}
.header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xs);
}

.header__content {
  display: flex;
  flex-direction: column;
  gap: 54px;
  align-items: start;

  padding-top: 80px;
  max-width: 570px;
}

.header__bg {
  width: 472px;
  height: 680px;
}

.header__bg-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text-grad {
  background: var(--base-grad);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.base__title {
  font-weight: 800;
  font-size: var(--text-2xl);
  line-height: 109%;
  letter-spacing: -0.03em;
  color: #fff;
}

.base__subtitle {
  font-size: var(--text-base);
  line-height: 163%;
  letter-spacing: -0.02em;
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
}

.button {
  font-family: var(--ff-base);
  font-weight: 600;
  font-size: var(--text-base);
  line-height: 146%;
  letter-spacing: -0.02em;
}

.button-primary {
  color: #fff;
  border-radius: var(--radius-btn);
  background: var(--base-grad);
  padding: 20px 80px;
}

.button-secondary {
  color: var(--text-clr);

  padding: 18px 53px;

  border-radius: var(--radius-btn);
  border: 2px solid transparent;
  background:
    linear-gradient(var(--bg-clr), var(--bg-clr)) padding-box,
    var(--outline-grad) border-box;
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;

  max-height: 4.2em;
  line-height: 1.4em;
  position: relative;
}

.about {
  padding-top: 25px;
}

.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-base);
}
.about-left {
  max-width: 500px;
  width: 100%;
  height: 500px;
  border-radius: var(--radius-box);
  overflow: hidden;
}

.about-left > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-rigth {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 550px;
}

.about__list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}

.about__item {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

.about__title {
  font-size: 25px;
}

.shop {
  position: relative;
  overflow: hidden;
}

.shop__top {
  display: flex;
  align-items: center;
  gap: var(--gap-lg);
  margin-bottom: 55px;
}

.shop__content {
  display: flex;
  gap: var(--gap-base);
  flex-wrap: nowrap;
  margin-bottom: 50px;
}

.card {
  border-radius: var(--radius-box);
}

.card__image {
  width: 100%;
  height: 250px;
  border-radius: var(--radius-box) var(--radius-box) 0 0;
  overflow: hidden;
}

.card__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__content {
  padding: 0 20px 20px;
  border: 1px solid;
  border-top: none;
  border-radius: 0 0 30px 30px;
}

.card__title {
  font-weight: 500;
  font-size: var(--text-lg);
  line-height: 163%;
  letter-spacing: -0.02em;
  color: #fff;
  margin: 10px 0;
}

.card__subtitle {
  font-size: var(--text-xs);
  margin-bottom: 20px;
}

.card__options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: var(--gap-xs);
}

.card__price {
  font-weight: 500;
  font-size: var(--text-lg);
  line-height: 163%;
  letter-spacing: -0.02em;
  color: #fff;
  text-align: right;
  white-space: nowrap;
}

.card__size {
  font-size: var(--text-xs);
  line-height: 163%;
  letter-spacing: -0.02em;
}

.card__button {
  font-size: var(--text-base);
  line-height: 146%;
  letter-spacing: -0.02em;
  padding: 10px 30px;
  white-space: nowrap;
}

.shop__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}

.events {
}

.events__top {
  max-width: 895px;
  margin-left: auto;
  display: flex;
  flex-direction: row-reverse;
  gap: 72px;
  margin-bottom: 54px;
}

.events__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: var(--gap-base);
}

.events__item:first-child {
  grid-column: span 3 / span 3;
}
.events__item:nth-child(2) {
  grid-column: span 3 / span 3;
  grid-column-start: 4;
}
.events__item:nth-child(3) {
  grid-column: span 2 / span 2;
  grid-row-start: 2;
}
.events__item:nth-child(4) {
  grid-column: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 2;
}
.events__item:nth-child(5) {
  grid-column: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 2;
}

.events__item {
  width: 100%;
  border-radius: var(--radius-box);
  overflow: hidden;
  position: relative;
  min-height: 260px;
  padding: 44px 25px 28px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.events__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  filter: brightness(50%);
}

.events__title {
  font-weight: 500;
  font-size: var(--text-lg);
  line-height: 109%;
  color: #fff;
  max-width: 295px;
}

.contacts {
  margin-bottom: 35px;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-lg);
}

.contacts__content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}

.contacts__link {
  font-weight: 500;
  font-size: var(--text-lg);
  line-height: 132%;
  color: #fff;
}

.contacts__right {
  height: 520px;
  border-radius: var(--radius-box);
  overflow: hidden;
}

.contacts__right > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  background: var(--bg-clr-dark);
  padding: 38px 0;
}

.footer-top {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: var(--gap-base);
  margin-bottom: 50px;
}

.footer__logo {
  font-weight: 800;
  font-size: 35px;
  line-height: 109%;
  letter-spacing: -0.03em;
  background: var(--base-grad);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-lg);
}

.footer-menu__list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

.footer-menu__item {
  font-weight: 400;
  font-size: var(--text-base);
  letter-spacing: -0.01em;
}

.footer-menu__title {
  color: #fff;
}

.footer-menu__link {
  color: #fff;
  opacity: 0.6;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}

.footer__copy {
  font-weight: 500;
  font-size: var(--text-xs);
  color: var(--text-clr);
}

@media (max-width: 992px) {
  .header__content {
    padding-top: 40px;
    gap: var(--gap-base);
  }

  .header__container {
    justify-content: space-between;
  }

  .base__title {
    font-size: var(--text-xl);
  }
  .card__title,
  .base__subtitle,
  .button,
  .card__price {
    font-size: var(--text-base);
  }

  .card__size {
    font-size: var(--text-xs);
  }

  .button-primary {
    padding: 15px 52px;
  }

  .button-secondary {
    padding: 15px 35px;
    border-width: 1px;
  }

  .events__title,
  .contacts__link {
    font-size: var(--text-lg);
  }

  .events__top {
    margin-left: 0;
  }

  .cards__image {
    width: 122px;
    height: 122px;
    margin: 0 auto;
  }

  .cards__image > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .card__button {
    padding: 10px;
    width: 100%;
  }

  .events__item {
    padding: 25px 15px 20px;
  }

  .footer {
    padding: 20px 0;
  }
  .footer-top {
    margin-bottom: 35px;
  }

  .footer-menu {
    gap: var(--gap-base);
  }
}

@media (max-width: 764px) {
  .base__subtitle,
  .footer-menu__item {
    font-size: var(--text-xs);
  }

  .header {
    padding-top: 100px;
    padding-bottom: 60px;
  }

  .header::after {
    width: 100%;
    top: -15%;
    bottom: 0;
  }

  .header__logo {
    font-size: var(--text-base);
  }

  .menu-button {
    display: flex;
  }

  .menu {
    display: none;
    width: 65%;
    position: absolute;
    top: calc(100% + 15px);
    right: 25px;
    z-index: 999;

    border-radius: var(--radius-box);
    padding: 20px;

    border: 2px solid transparent;
    background:
      linear-gradient(var(--bg-clr), var(--bg-clr)) padding-box,
      var(--outline-grad) border-box;
  }

  .menu.active {
    display: block;
  }

  .menu__list {
    flex-direction: column;
  }
  .menu__item {
    padding: 10px 5px;
  }

  .base__title {
    font-size: 40px;
  }

  .base__subtitle,
  .button {
    font-size: var(--text-xs);
  }

  .button-primary,
  .button-secondary {
    padding: 10px 30px;
  }
  .header__box {
    flex-direction: column-reverse;
    gap: var(--gap-base);
  }
  .header__content {
    padding-top: 0;
    max-width: 100%;
  }
  .header__bg {
    width: 100%;
    height: 280px;
  }

  .about {
    padding-top: 0;
  }

  .about__container {
    flex-direction: column;
    gap: var(--gap-base);
  }

  .about-left {
    max-width: 100%;
    height: 250px;
  }

  .about-rigth {
    margin-top: 0;
    gap: var(--gap-base);
    max-width: 100%;
  }

  .events__top {
    flex-direction: column;
    gap: var(--gap-base);
    max-width: 100%;
  }

  .events__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: var(--gap-xs);
  }

  .events__item:first-child,
  .events__item:nth-child(2),
  .events__item:nth-child(3),
  .events__item:nth-child(4),
  .events__item:nth-child(5) {
    grid-column: auto;
    grid-row: auto;
    grid-column-start: auto;
    grid-row-start: auto;
  }

  .events__item:first-child {
    grid-column: span 2;
  }

  .events__item:not(:first-child) {
    grid-column: span 1;
  }

  .events__title {
    font-size: var(--text-xs);
  }
  .contacts__link {
    font-size: var(--text-base);
  }
  .events__button {
    padding: 10px 30px;
  }

  .contacts__container {
    flex-direction: column-reverse;
    gap: var(--gap-base);
  }
  .contacts__content {
    max-width: 100%;
  }

  .contacts__right {
    height: 250px;
  }

  .footer-top {
    flex-direction: column;
  }

  .footer-menu {
    flex-wrap: wrap;
  }
}
