:root {
  /* COLORS  */
  --bg-clr: #121517;
  --bg-clr-dark: #0b0c0d;
  --text-clr: #d9d9d9;

  --accent-light: #a2663c;
  --accent: #3f1d0e;

  /* FONTS  */
  --ff-base: "Montserrat", sans-serif;

  /* GRADIENTS  */
  --base-grad: linear-gradient(
    223deg,
    var(--accent) 0%,
    var(--accent-light) 100%
  );
  --glow-grad: linear-gradient(
    245deg,
    rgba(35, 114, 73, 0.55) 0%,
    rgba(53, 198, 107, 0.73) 51.85%
  );
  --outline-grad: linear-gradient(145deg, #d9d9d9, #121517);

  --gap-lg: 60px;
  --gap-base: 30px;
  --gap-xs: 20px;

  --text-2xl: 80px;
  --text-xl: 60px;
  --text-lg: 30px;
  --text-base: 20px;
  --text-xs: 16px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--ff-base);
  font-weight: 400;
  background-color: var(--bg-clr);
  color: var(--text-clr);
}

/* RESET STYLES  */
a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  color: inherit;
}

section {
  padding-bottom: 100px;
}

.container {
  max-width: 1243px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

.header {
  padding-top: 48px;
  padding-bottom: 113px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 94px;
  position: relative;
}

.header__logo {
  font-weight: 800;
  font-size: 35px;
  line-height: 109%;
  letter-spacing: -0.03em;
  background: var(--base-grad);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-button {
  width: 42px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.menu-button__line {
  display: block;
  width: 100%;
  height: 2px;
  background: var(--base-grad);
}

.menu {
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 94px;
}

.menu__item {
}
.menu__link {
  font-size: var(--text-base);
}
.header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xs);
}

.header__content {
  display: flex;
  flex-direction: column;
  gap: 54px;
  align-items: start;

  padding-top: 80px;
  max-width: 570px;
}

.header__bg {
  width: 472px;
  height: 680px;
}

.header__bg-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text-grad {
  background: var(--base-grad);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glow {
  position: relative;
}

.glow::before {
  content: "";
  display: block;
  width: 324px;
  height: 324px;
  border-radius: 100%;
  background: var(--glow-grad);
  filter: blur(175.5px);

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.base__title {
  font-weight: 800;
  font-size: var(--text-2xl);
  line-height: 109%;
  letter-spacing: -0.03em;
  color: #fff;
}

.base__subtitle {
  font-size: var(--text-base);
  line-height: 163%;
  letter-spacing: -0.02em;
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
}

.button {
  font-family: var(--ff-base);
  font-weight: 600;
  font-size: var(--text-base);
  line-height: 146%;
  letter-spacing: -0.02em;
}

.button-primary {
  color: #fff;
  border-radius: 85px;
  background: var(--base-grad);
  padding: 20px 80px;
}

.button-secondary {
  color: var(--text-clr);

  padding: 18px 53px;

  border-radius: 80px;
  border: 2px solid transparent;
  background:
    linear-gradient(var(--bg-clr), var(--bg-clr)) padding-box,
    var(--outline-grad) border-box;
}

.advantages {
}

.advantages__content {
  margin: 0 70px;
  color: var(--bg-clr);
  padding: 30px;
  border-radius: 46px;
  background: linear-gradient(
    230deg,
    #fff 3.94%,
    #e5e5e5 64.08%,
    #fbfbfb 88.62%
  );

  position: relative;
}

.advantages__availability {
  --el-size: 200px;
  --el-margin: -90px;

  position: absolute;
  top: var(--el-margin);
  left: var(--el-margin);
  width: var(--el-size);
  height: var(--el-size);
}

.advantages__availability > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.advantages__list {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: var(--gap-base);
}
.advantages__item {
  max-width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.advantages__icon {
  height: 230px;
  object-fit: contain;
}

.advantages__title {
  font-weight: 500;
  font-size: var(--text-lg);
  line-height: 163%;
  letter-spacing: -0.02em;
  margin-top: -33px;
  margin-bottom: 4px;
}

.advantages__subtitle {
  font-size: var(--text-base);
  line-height: 163%;
  letter-spacing: -0.02em;
  text-align: center;
}

.about {
  padding-top: 25px;
}

.about__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-base);
}
.about-left {
  max-width: 500x;
  width: 100%;
  height: 500px;
}

.about-left__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-rigth {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 550px;
}

.about__list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}

.about__item {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

.about__title {
  font-size: 25px;
}

.shop {
  overflow: hidden;
}

.shop__top {
  display: flex;
  align-items: center;
  gap: var(--gap-lg);
  margin-bottom: 55px;
}

.shop__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap-base);
}

.shop-item {
  border-radius: 30px;
  padding: 30px 20px;
  border: 2px solid transparent;
  background:
    linear-gradient(var(--bg-clr), var(--bg-clr)) padding-box,
    linear-gradient(45deg, var(--accent), var(--accent-light)) border-box;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
  align-items: center;
}

.shop-item__top {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: var(--base-grad);
  box-shadow: 0 5px 52px 0 rgba(0, 0, 0, 0.39);
}

.shop-item__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.shop-item__title {
  font-weight: 500;
  font-size: var(--text-lg);
  line-height: 163%;
  letter-spacing: -0.02em;
  color: #fff;
}
.shop-item__description {
  font-size: var(--text-xs);
  line-height: 163%;
  letter-spacing: -0.02em;
}

.shop-item__option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: var(--gap-xs);
}

.shop-item__price {
  font-weight: 500;
  font-size: var(--text-base);
  line-height: 163%;
  letter-spacing: -0.02em;
  color: #fff;
}

.shop-item__size {
  font-size: var(--text-xs);
  line-height: 163%;
  letter-spacing: -0.02em;
}

.shop-item__button {
  font-size: var(--text-base);
  line-height: 146%;
  letter-spacing: -0.02em;
  padding: 14px;
  width: 100%;
  white-space: nowrap;
}

.events {
}

.events__top {
  max-width: 895px;
  margin-left: auto;
  display: flex;
  flex-direction: row-reverse;
  gap: 72px;
  margin-bottom: 54px;
}
.events__subtitle {
  max-width: 457px;
  margin-top: 23px;
}

.events__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: var(--gap-base);
}

.events__item:first-child {
  grid-column: span 3 / span 3;
}
.events__item:nth-child(2) {
  grid-column: span 3 / span 3;
  grid-column-start: 4;
}
.events__item:nth-child(3) {
  grid-column: span 2 / span 2;
  grid-row-start: 2;
}
.events__item:nth-child(4) {
  grid-column: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 2;
}
.events__item:nth-child(5) {
  grid-column: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 2;
}

.events__item {
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  min-height: 260px;
  padding: 44px 25px 28px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.events__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.events__title {
  font-weight: 500;
  font-size: var(--text-lg);
  line-height: 109%;
  color: #fff;
  text-transform: uppercase;
  max-width: 295px;
}

.events__button {
  padding: 20px 55px;
  width: fit-content;
}

.contacts {
  margin-top: 50px;
  margin-bottom: 35px;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-lg);
}

.contacts__content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-base);
}

.contacts__subtitle {
  margin-top: 52px;
  margin-bottom: 56px;
}

.contacts__link {
  font-weight: 500;
  font-size: var(--text-lg);
  line-height: 132%;
  color: #fff;
}

.contacts__right {
  height: 520px;
}

.contacts__right > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  background: var(--bg-clr-dark);
  padding: 38px 0;
}

.footer-top {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: var(--gap-base);
  margin-bottom: 88px;
}

.footer__logo {
  font-weight: 800;
  font-size: 35px;
  line-height: 109%;
  letter-spacing: -0.03em;
  background: var(--base-grad);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-base);
  width: 100%;
  margin: 10px 50px 0;
}

.footer-menu__list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

.footer-menu__item {
  font-weight: 400;
  font-size: var(--text-base);
  letter-spacing: -0.01em;
}

.footer-menu__title {
  color: #fff;
}

.footer-menu__link {
  color: #fff;
  opacity: 0.6;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xs);
}

.footer__phone {
  font-weight: 500;
  font-size: var(--text-base);
  background: var(--base-grad);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 992px) {
  .header::after {
    width: 55%;
  }

  .header__content {
    padding-top: 40px;
    gap: var(--gap-base);
  }

  .header__container {
    justify-content: space-between;
  }

  .menu__list {
    gap: var(--gap-lg);
  }

  .base__title {
    font-size: var(--text-xl);
  }

  .base__subtitle,
  .button,
  .advantages__subtitle,
  .shop-item__description,
  .shop-item__size {
    font-size: var(--text-base);
  }

  .button-primary {
    padding: 15px 52px;
  }

  .button-secondary {
    padding: 15px 35px;
    border-width: 1px;
  }

  .advantages__icon {
    height: 170px;
  }

  .advantages__title,
  .shop-item__title,
  .shop-item__price,
  .events__title,
  .contacts__link {
    font-size: var(--text-lg);
  }

  .advantages__availability {
    --el-size: 100px;
    --el-margin: -45px;

    width: var(--el-size);
    height: var(--el-size);
    top: var(--el-margin);
    left: auto;
    right: var(--el-margin);
  }
  .events__top {
    margin-left: 0;
  }

  .advantages__content {
    padding: 20px;
    margin: 0 30px;
  }

  .about-left__icon {
    top: 45px;
    right: -20px;
    width: 150px;
    height: 150px;
  }

  .shop__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .shop-item {
    padding: 20px 30px;
  }

  .shop-item__top {
    width: 122px;
    height: 122px;
    margin: 0 auto;
  }

  .shop-item__image {
    height: 200px;
  }

  .events__item {
    padding: 25px 15px 20px;
  }

  .footer {
    padding: 20px 0;
  }
  .footer-top {
    flex-wrap: wrap;
    align-items: center;

    margin-bottom: 35px;
  }
  .footer-menu {
    order: 3;
    margin: auto;
  }
}

@media (max-width: 764px) {
  .base__subtitle,
  .footer-menu__item {
    font-size: var(--text-xs);
  }

  .header {
    padding-top: 35px;
    padding-bottom: 60px;
  }

  .header::after {
    width: 100%;
    top: -15%;
    bottom: 0;
  }

  .header__logo {
    font-size: var(--text-base);
  }

  .menu-button {
    display: flex;
  }

  .menu {
    display: none;
    width: 65%;
    position: absolute;
    top: calc(100% + 15px);
    right: 25px;
    z-index: 999;

    border-radius: 27px;
    padding: 20px;

    border: 2px solid transparent;
    background:
      linear-gradient(var(--bg-clr), var(--bg-clr)) padding-box,
      var(--outline-grad) border-box;
  }

  .menu.active {
    display: block;
  }

  .menu__list {
    flex-direction: column;
    gap: var(--gap-xs);
  }
  .menu__item {
    padding: 10px 5px;
  }

  .base__title {
    font-size: 40px;
  }

  .base__subtitle,
  .advantages__subtitle,
  .button {
    font-size: var(--text-xs);
  }

  section {
    padding-bottom: 60px;
  }

  .button-primary,
  .button-secondary {
    padding: 10px 30px;
  }
  .header__box {
    flex-direction: column-reverse;
    gap: var(--gap-base);
  }
  .header__content {
    padding-top: 0;
    max-width: 100%;
  }
  .header__bg {
    width: 270px;
    height: 320px;
  }

  .advantages__list {
    flex-direction: column;
    align-items: center;
  }

  .advantages__content {
    border-radius: 26px;
  }

  .advantages__item {
    max-width: 100%;
  }

  .advantages__icon {
    height: 125px;
  }

  .advantages__title {
    font-size: 18px;
    margin-top: -20px;
    margin-bottom: 0;
  }

  .about {
    padding-top: 0;
  }

  .about__container {
    flex-direction: column;
    gap: 57px;
  }

  .about-left__shadow,
  .about-left__image {
    height: 240px;
  }

  .about-left__shadow {
    top: 12px;
    left: -15px;
  }
  .about-left {
    max-width: 100%;
    margin-left: 15px;
  }

  .about-left__icon {
    top: 50px;
    right: -167px;
    width: 112px;
    height: 112px;
  }

  .about-rigth {
    margin-top: 0;
    gap: var(--gap-base);
    max-width: 100%;
  }

  .shop__content {
    grid-template-columns: repeat(1, 1fr);
  }
  .shop__top {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-base);
    margin-bottom: var(--gap-base);
  }

  .shop-item {
    min-width: auto;
  }

  .shop-item__button {
    padding: 10px;
    font-size: var(--text-xs);
  }

  .events__top {
    flex-direction: column;
    gap: var(--gap-base);
    max-width: 100%;
  }
  .events__subtitle {
    margin-top: 0;
    max-width: 100%;
  }
  .events__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: var(--gap-xs);
  }

  .events__item:first-child,
  .events__item:nth-child(2),
  .events__item:nth-child(3),
  .events__item:nth-child(4),
  .events__item:nth-child(5) {
    grid-column: auto;
    grid-row: auto;
    grid-column-start: auto;
    grid-row-start: auto;
  }

  .events__item:first-child {
    grid-column: span 2;
  }

  .events__item:not(:first-child) {
    grid-column: span 1;
  }

  .events__title {
    font-size: var(--text-base);
  }
  .events__button {
    padding: 10px 30px;
  }

  .contacts__container {
    flex-direction: column-reverse;
    gap: var(--gap-base);
  }
  .contacts__content {
    max-width: 100%;
  }

  .contacts__right {
    height: 350px;
  }

  .contacts__right::after {
    bottom: 0px;
    right: -15px;
  }

  .contacts__right__icon {
    width: 100px;
    height: 100px;
    top: 50%;
    left: -100%;
    transform: translate(0, -50%);
  }

  .contacts__subtitle {
    margin-top: 36px;
    margin-bottom: 28px;
  }

  .contacts__link {
    font-size: var(--text-base);
  }

  .footer-menu {
    flex-wrap: wrap;
  }
  .footer-menu__list {
    width: 33%;
  }

  .footer__phone {
    font-size: var(--text-xs);
  }
  .footer__social {
    width: 40px;
    height: 45px;
  }
}
